header{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body{
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}

p{
    font-size: 20px;
    color: rgb(173, 173, 173);
    text-align: center;
    align-items: center;
    border: 2px;
    border-color: rgb(173, 173, 173);
    border-style: dashed;
    width: 50%;
    margin-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

}

.button{
    border: 5px;
    border-style: double;
    border-color: lightslategray;
    padding: 10px;
}